<section class="container">
<%= form_with model: @post, url:  user_posts_path, class: 'user-card flex-col' do |f| %>
<%= f.label :title, "Post title" %>
<%= f.text_field :title %>
<%= f.label :text, "write your thought" %>
<%= f.text_area :text, size:'40*40' %>
<%= f.submit "Post"%>
<% end %>
</section>
