<section class="container">
    <div class="flex-col post-card">
        <h1><%= @post.title %></h1>
        <span >by <%= @user.name %></span>
        <span >Comments : <%= @post.commentsCounter || 0 %>, Likes : <%= @post.likes_count || 0 %></span>

    <div class="post-text">
        <%= @post.content %>
    </div>
    </div>

    <%= render partial: "comment_card", locals: {comments: @post.comments} %>
</section>
